BRAND_NAME="Crafted Occasion"
STORE_DOMAIN="craftedoccasions.com"
PRINTIFY_TOKEN=""
PRINTIFY_SHOP_ID=""
R2_ACCOUNT_ID=""
R2_ACCESS_KEY_ID=""
R2_SECRET_ACCESS_KEY=""
R2_BUCKET=""
R2_PUBLIC_BASE_URL=""
OUT_DIR="out"
